{% extends "base.html" %}
{% load static %}
{% block title %}
    APPTRIX test registration
{% endblock %}
{% block body_of_page %}
    <div class="container-fluid" id="background_style"></div>
    <div class="container-fluid" id="navbar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><i class="fas fa-fire"></i> APPTRIX tindor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-light">
                    Войдите
                </button>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <form method="post" action="{% url 'reg_confirm'%}">
                {% csrf_token %}
                <table>
                    {{ user_form }}
                    {{ profile_form }}
                </table>
                <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
            </form>
        </div>
    </div>
{% endblock %}