{% extends "galasJobBase.html" %}
{% load static %}
{% block title %}
    GalasJob
{% endblock %}
{% block body_of_page %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            Валюты этого типа:
            {% if not currencies %}
                Увы, данная категория ещё пуста
            {% endif %}
        </div>
        <ul class="row">
            {% for currency in currencies %}
                <li>
                    <a href="currency/{{ currency.id }}/">{{ currency.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}